body{

    margin: 200px 100px 100px 300px;
    background-color: black;
    opacity: 1;
}


.Switch{
    background-color: rgb(63, 225, 236);
    border-radius: 100px 100px 100px 100px;
    height: 400px;
    width: 950px;
    padding-top: 10px ;
    
}

.screen1{
    background-color: black;
    padding-top: 10px;
    border-radius: 10px 10px 10px 10px;
    height: 370px;
    width: 700px;
    margin-left: 125px;
    margin-top: 5px;

}

.principale{
    background-color:rgb(248, 243, 236) ;
    height: 340px;
    width: 610px;
    margin-left: 45px;
    margin-top: 10px;
}

.screen2{
    background-image: url(open-switch.gif);
    background-repeat: no-repeat;
    background-size: 100% ;
    height: 360px;
    width: 610px;
 
} 

.bottom1{
    background-color: rgb(253, 250, 250);
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-left: 730px;
    margin-top: -150px;
}

.bottom2{
    background-color: rgb(253, 250, 250);
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-left: -100px;
    margin-top: -220px;
}

.croix-vertical{
    background-color: rgb(253, 250, 250);
    height: 80px;
    width: 30px;
    margin-left: -80px;
    margin-top: 80px;
    border-radius: 5px 5px 5px 5px;
}

.croix-horizontal{
    background-color: rgb(253, 250, 250);
    height: 30px;
    width: 80px;
    margin-left: -105px;
    margin-top: -55px;
    border-radius: 5px 5px 5px 5px;
}


.croix-horizontal-mini{
    background-color: rgb(253, 250, 250);
    height: 6px;
    width: 20px;
    margin-left: 713px;
    margin-top: -230px;
    
}

.croix-vertical-mini{
    background-color: rgb(253, 250, 250);
    height: 20px;
    width: 6px;
    margin-left: 720.5px;
    margin-top: -12.3px;
    
}

.Moins{
    background-color: rgb(253, 250, 250);
    height: 6px;
    width: 20px;
    margin-left: -35px;
    margin-top: -12.3px;
    
}

.photo{
    background-color: rgb(253, 250, 250);
    height: 20px;
    width: 20px;
    margin-left: -35px;
    margin-top: -30px;
    border-radius: 5px 5px 5px 5px;

}

.home{
    background-color: rgb(253, 250, 250);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: 710px;
    margin-top: 290px;
}

.bottomX{
    background-color: rgb(253, 250, 250);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-left: 740px;
    margin-top: -270px;
}

.bottomY{
    background-color: rgb(253, 250, 250);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-left: 710px;
    margin-top: 10px;
}


.bottomA{
    background-color: rgb(253, 250, 250);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-left: 740px;
    margin-top: 10px;
}

.bottomB{
    background-color: rgb(253, 250, 250);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-left: 770px;
    margin-top: -60px;
}